 <head>
       {{>header}}
    </head>
    <body style="margin-top: 100px;" class ="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Goal Tracker</h1>
        <h2>View all planned goals</h2>
            <a href="/new" class="btn btn-outline-primary" style="padding: 10px;">Write a new goal!</a>     
            <a href="/about" class="btn btn-outline-dark" style="padding: 10px;">About Us</a> 
            <a href="/seed" class="btn btn-outline-success" style="padding: 10px;">Seed Database</a>
        </div> 
           <div class="card-group gap-2" style="padding: 10px;"></div>
            {{#goals}}
            <div class="card border-primary shadow-lg" style="max-width: fit-content;">
                <div class="card-header">
                    {{goal}}
                </div>
                <div class="card-body" style="min-height: fit-content;">
                    <div class="card-text">
                        {{notes}}
                    </div>
                <div class="card-footer text-muted">
                Created by {{name}}, on {{created}}
                    <div>
                        <a href="/view" class="btn btn-outline-secondary">View</a> 
                        <a href="/delete" class="btn btn-outline-danger">Delete</a> 
                        <a href="/share" class="btn btn-outline-info">Share</a> 
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{/goals}}
    </div>
        {{^goals}}
        No goals yet
        {{/goals}}
        <script src="" async defer></script>
    </body>
</html>